/* Insert any CSS code below here */
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

#outside {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: 100%;
  text-align: center;
  transition: 1s;
  transition-delay: 1s;
  transform-origin: 0;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: whitesmoke;
  font-family: "Mountains of Christmas";
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 14vh;
  text-shadow: 2px 2px 8px #ff0000;
  padding-bottom: 10px;
}

#outside-pic {
  width: 300px;
  height: auto;
  transform: translateY(-50px);
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

#inside-title {
  color: whitesmoke;
  font-family: "Mountains of Christmas";
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 10vh;
  text-shadow: 2px 2px 8px #ff0000;
  margin-bottom: 30px;
}

.santas {
  display: inline-flex;
}

.red {
  width: 200px;
  height: 300px;
  animation-name: bouncered;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  transform: translateY(-35px);
}
.green {
  width: 200px;
  height: 300px;
  animation-name: bouncegreen;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: translateY(-35px);
}

.green {
  width: 150px;
  height: 250px;
}

#left1 {
  transform: rotate(-8deg);
  transform: translateX(45px);
}
#left2 {
  transform: rotate(-8deg);
  transform: translateX(25px);
}

#right1 {
  transform: rotate(8deg);
  transform: translateX(-25px);
}
#right2 {
  transform: rotate(8deg);
  transform: translateX(-45px);
}

@keyframes bouncered {
  0%,
  100% {
    transform: ;
  }
  50% {
    transform: scale(1.1, 1.3) translate(0, -40px);
  }
}
@keyframes bouncegreen {
  0%,
  100% {
    transform: ;
  }
  50% {
    transform: scale(1, 1.1) translate(0, -40px);
  }
}
#message {
  color: black;
  font-family: Courier;
  font-size: 30pt;
  text-align: center;
}

button {
  background: transparent;
  color: red;
  border: none;
  border-radius: 30px;
  padding: 0.4em;
  font-family: "Mountains of Christmas";
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: 2px 2px 8px white;
}

button:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out 0s;
}
#message {
  color: white;
  font-family: "Mountains of Christmas";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 8px #ff0000;
  transform: translateY(-10px);
}
